.container_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.postList {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.postItem {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postText {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.postImage {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.postLikes {
    font-size: 14px;
    color: #777;
    text-align: right;
}

.loadMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.loadMoreButton:hover {
    background-color: #0056b3;
}
